[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
wemake-python-styleguide = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
init = "pipenv install"
dev = "dotenv -e ../.env -- bash -c 'python manage.py runserver $SERVER_PORT'"
lint = "flake8 ."
